PORT=3000
JWT_SECRET=seu_jwt_secret_aqui_super_seguro_senac

# Supabase Credentials (PostgreSQL)
SUPABASE_URL=https://sua-instancia.supabase.co
SUPABASE_KEY=sua_service_role_key_ou_anon_key
SUPABASE_PUBLISHABLE_KEY=sua_publishable_key
